html {
    background-color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) { /* for users that specify the prefer reduced motion */
	html {
		scroll-behavior: auto;
	}
}
::selection { /* highlight color */
    background: #fbeeac;
}
body {
    margin: 0;
    padding: 0;
}
.header-content, .content {
    max-width: 650px;
    margin: auto;
    padding: 32px;
}
.header-content {
    padding-bottom: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}
.content {
    padding-top: 0;
    font-size: 18px;
    line-height: 1.8;
}
header{
    width: 100%;
    margin: 0;
    background-color: #012e67;
}
header a {
    color: whitesmoke;
}
#main-heading {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: normal;
}
#header-links {
    padding-top: 20px;
    font-size: 16px;
    color: #2b6684;
}
#header-links a {
    color: #8ab6d6;
}
#header-color-bar {
    height: 8px;
    background-color: #8ab6d6;
}
.content h2 {
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: normal;
}
.content h3 {
    font-size: 20px;
    margin-top: 32px;
    font-weight: bold;
}
p a, li a {
    color: #0061a8;
    text-decoration: none;
    font-weight: normal;
}
#header-links a:hover{
    color: #f4d160;
    transition: 0.5s;
}

p a:hover, li a:hover {
    text-decoration: underline;
    text-decoration-color: #f4d160;
    text-decoration-thickness: 3px;
}

li {
    margin-bottom: 12px;
}
.inner-li {
    margin-bottom: 0;
}
.fullsize-img { /* image to take up fill width of content column */
    max-width: 650px;
    width: 100%;
}
.footer {
    text-align: center;
}
.footer a{
    font-size: 14px;
}